%h1.text-red-700 Listing posts

%table
  %thead
    %tr
      %th Content
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.content
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path

.flex.flex-col.w-screen
  .flex.flex-row.w-24.p-4.bg-blue-600.text-white
    = link_to "Connect", api_connection_path